bin/
.settings/
pull-everything.sh
remove-sensitive-data.sh
status.json
webcam-sent-img.jpg
screenshot-sent-img.jpg
.htaccess
# stuff from android.gitignore
*.apk
*.ap_
*.dex
*.class
gen/
local.properties
.classpath
.project
proguard/
docs/
